<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cat.bcn.vincles.tablet">

    <!-- IMEI ACCESS -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- START GCM ZONE -->
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- END GCM ZONE -->
    <!-- CONTROL BATTERY STATUS -->
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    -->

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".AnalyticsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/vincles_app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:label"
        >
        <meta-data
            android:name="DATABASE"
            android:value="vincles-tablet.db" />
        <meta-data
            android:name="VERSION"
            android:value="3" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="cat.bcn.vincles.lib.vo" />
        <meta-data
            android:name="cat.bcn.vincles.tablet.VinclesGlideModule"
            android:value="GlideModule" />

        <activity
            android:name=".activity.SplashScreenActivity"
            android:label="@string/vincles_app_name"
            android:noHistory="true"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.configuration.ConfigRegisterActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.configuration.ConfigMainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.configuration.ConfigBrightnessActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.configuration.ConfigFontActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.configuration.ConfigImageActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.configuration.ConfigLanguageActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.configuration.ConfigNomActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.configuration.ConfigScreenActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.configuration.ConfigVolumeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.configuration.ConfigThemeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.operation.TaskMainActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.operation.TaskCalendarActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.operation.TaskCallActivity"
            android:screenOrientation="landscape" />
        <activity
            android:screenOrientation="landscape"
            android:name=".activity.operation.TaskVideoConferenceCallActivity" />
        <activity
            android:name=".activity.operation.TaskCallLostCallActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.operation.TaskCallAssistanceActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.operation.TaskImageListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.operation.TaskImageDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.operation.TaskLoginActivity"
            android:noHistory="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.operation.TaskMessageListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.groups.GroupsListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.groups.GroupsChatActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.groups.GroupsChatDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.groups.GroupsDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.groups.GroupsDinamizerChatActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.operation.TaskMessageUserListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.operation.TaskMessageDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.operation.TaskMessageSendActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.operation.TaskNetworkListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.operation.TaskNetworkUserActionActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.operation.TaskNetworkDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.operation.TaskNotificationNewUserActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.groups.GroupsChatVinclesGroupListActivity"
            android:screenOrientation="landscape" />

        <!-- MONITORS -->
        <receiver android:name=".monitors.BatteryLevelMonitor">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
            </intent-filter>
        </receiver>
        <receiver android:name=".monitors.InternetConnectionMonitor">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- START GCM ZONE -->
        <!-- [START gcm_listener] -->
        <service android:name=".push.VinclesFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END gcm_listener] -->


        <!-- [START instanceId_listener] -->
        <service
            android:name=".push.VinclesInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- [END instanceId_listener] -->
        <!-- END GCM ZONE -->

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="API_KEY" />

        <receiver
            android:name=".monitors.SignalReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.RSSI_CHANGED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>